<!DOCTYPE html>
<html>
<body>
<p><b>音樂</b></p>
<p><strong>我最愛的歌手</strong></p>
<p><small>周杰倫，周興哲，林俊傑</small></p>
<p><i>歌名:錯過的煙火 續寫 輸了你贏了世界又如何</i></p>
<p><em>網址:<br>https://youtu.be/9tN1xixvYOc
    <br>https://youtu.be/mQstYKoZ5O8<br>
    https://youtu.be/NiHF-cwto_A</em></p>
<p><mark>最喜歡的歌:輸了你贏了世界又如何</mark></p>
</body>
</html>

